<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Document</title>

</head>
<body>



  <div class="movie-info-wrapper">
    <div class="container padding-main">
      <div class="row movie-info" [ngStyle]="{'background': getUrl(), 'background-repeat': 'no-repeat', 'height': '596px', 'background-size': 'cover'}">
        <div class="w-100 country text-center">
          <span style="color: #fff;"></span>
        </div>

        <div class="title w-100 text-center">
          <h1>{{movie.title}}</h1>
        </div>
        <div class="genre w-100 d-flex justify-content-center">
          <dl>
            <dt class="txt-rounded">{{movie.genre}}</dt>
            
          </dl>
        </div>
        <div class="movie-media w-100 d-flex justify-content-center">
          <a href="#" class="btn white trailer" id="trailer">Трейлер</a>
          <a href="#" class="btn white" id="gallery">Галерея кадров</a>
        </div>
      </div>
      <div class="row padding-main justify-content-center">
      </div>
      <div class="row">
        <div class="col-md-3">
            <table width="100%" cellpadding="0" cellspacing="0" class="infoTable">
                <tbody>
                <tr>
                    <td colspan="2"><img style="width: 190px; height: 260px;" src="{{movie.poster}}"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div style="font-size: 14px; color: #000000;">{{movie.title}}</div>
                        <br>
                    </td>
                </tr>

                    <tr>
                        <td colspan="2">
                            <div class="star-rate" id="rate0_2_8012" style="cursor: pointer;"><img alt="1" src="http://kino.kz/images/star-full.svg" title="bad">&nbsp;<img alt="2" src="http://kino.kz/images/star-full.svg" title="poor">&nbsp;<img alt="3" src="http://kino.kz/images/star-full.svg" title="regular">&nbsp;<img alt="4" src="http://kino.kz/images/star-full.svg" title="good">&nbsp;<img alt="5" src="http://kino.kz/images/star-full.svg" title="gorgeous">&nbsp;<img alt="6" src="http://kino.kz/images/star-full.svg" title="6">&nbsp;<img alt="7" src="http://kino.kz/images/star-full.svg" title="7">&nbsp;<img alt="8" src="http://kino.kz/images/star-full.svg" title="8">&nbsp;<img alt="9" src="http://kino.kz/images/star-full.svg" title="9">&nbsp;<img alt="10" src="http://kino.kz/images/star-full.svg" title="10"><input name="score" type="hidden" value="5"></div>
                            <div id="star-rate-hint" class="star-rate-hint">5</div>
                            <div id="star-rate-result"></div>
                        </td>
                    </tr>

                <tr>
                    <td>Производство</td>
                    <td>{{movie.country}}</td>
                </tr>
                <tr>
                    <td>Премьера в РК</td>
                    <td>{{movie.premiere}}</td>
                </tr>

                <tr>
                    <td>Продолжительность</td>
                    <td>{{movie.duration}} минут</td>
                </tr>

                    <tr>
                        <td>Возрастной рейтинг</td>
                        <td>

                            <span class="ageLimit">С {{movie.age}} лет</span>
                        </td>
                    </tr>





                <tr>
                    <td>Ссылки</td>
                    <td><a href="https://www.kinopoisk.ru/film/1049509/" target="_blank">kinopoisk.ru</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <div class="right column">
                <div class="story">
                    <span class="block-title">Сюжет</span>
                    <p>{{movie.description}}</p>
                </div>




                <div id="reviews" class="reviews">
                    <div class="revbtn">
                        <span class="block-title">Рецензии</span>
                        <div class="input-group mb-3">
                          <input type="text" class="form-control" placeholder="Ваше имя" aria-label="Recipient's username" aria-describedby="basic-addon2">
                          <div class="input-group-append">
                          </div>
                        </div>
                        <div class="input-group mb-3">
                          <input type="text" class="form-control" placeholder="Напишите Вашу рецензию" aria-label="Recipient's username" aria-describedby="basic-addon2">
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">Отправить</button>
                          </div>
                        </div>

                    </div>





                            <br>
                            <ul class="comments">
                                <li>
                                    <div class="comment">
                                        <div class="author">
                                            <p>
                                                Саят, 25

                                                <span class="txt-gray-sm">18.03.2019</span>
                                            </p>
                                        </div>
                                        <div class="review">
                                            <p>Отличный фильм! Но не для всех! Это вам не лёгкий экшн! Фильм для умного зрителя! Здесь настоящая суровая реальность! Если хотите просто хотите посмотреть эффектные и яркие сцены.. То проходите мимо!</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="comment">
                                        <div class="author">
                                            <p>
                                                Нурсултан, 29

                                                <span class="txt-gray-sm">17.03.2019</span>
                                            </p>
                                        </div>
                                        <div class="review">
                                            <p>скучнейший фильм, с первых минут хотелось стать и уйти с фильма, но до последнего надеялся что это будет одним из тех фильмов который в конце даст хоть какой то вау эффект. Но этого не было. Снято все нудно, часто показывает обычные сцены в сломоушене, как в индийских сериалах которые показывает по нашим каналам.  Короче люди, не ходите.</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="comment">
                                        <div class="author">
                                            <p>
                                                Марат, 35

                                                <span class="txt-gray-sm">14.03.2019</span>
                                            </p>
                                        </div>
                                        <div class="review">
                                            <p>Фильм конечно не для массового зрителя, много двойных смыслов. Николь молодец. Фильм немного нудноват мне показался. Так как это не совсем про экшен , здесь больше драма.</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>



                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="aside column">
                <table width="100%" cellpadding="0" cellspacing="0" class="staff-table">
                    <thead>
                        <tr>
                            <th align="left">Режиссёр</th>
                        </tr>
                    </thead>
                    <tbody>

                            <tr><td>Карин Кусама</td></tr>

                    </tbody>
                </table>

                <table width="100%" cellpadding="0" cellspacing="0" class="staff-table">
                    <thead>
                        <tr>
                            <th align="left">В ролях</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr><td>Николь Кидман</td></tr>

                        <tr><td> Тоби Кеббелл</td></tr>

                        <tr><td> Татьяна Маслани</td></tr>

                        <tr><td> Себастиан Стэн</td></tr>

                        <tr><td> Скут МакНэри</td></tr>

                        <tr><td> Брэдли Уитфорд</td></tr>

                        <tr><td> Тоби Хасс</td></tr>

                        <tr><td> Джеймс Джордан</td></tr>

                        <tr><td> Бо Напп</td></tr>

                        <tr><td> Джэйд Петтиджон</td></tr>

                    </tbody>
                </table>

                <br>


                <div class="banner banner-3 nude float-right">
                    <div class="align-vh">
                        <script type="text/javascript">
                        b_rnd=new String(Math.random());b_rnd=b_rnd.substring(2, 11);
                        document.write('<'+'iframe src="http://banner.kkb.kz/gsf?p=162&n='+b_rnd+'" frameborder="no" scrolling="no" marginwidth="0" marginheight="0" width="240" height="400"><');

                        </script><iframe src="http://banner.kkb.kz/gsf?p=162&amp;n=080117657" frameborder="no" scrolling="no" marginwidth="0" marginheight="0" width="240" height="400"></iframe>
                    </div>
                </div>

                <div class="clearfix"></div>
           </div>
        </div>
      </div>

    </div>
  </div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>

