<div class="main" *ngFor="let schedule of schedules">
  
  <div *ngIf="printTitle(schedule.movie.title)">
    <h1>{{schedule.movie.title}}</h1>
  </div>
  <div class="time">
    <div name='date' class="date_coming" (click)="date_click(schedule.id)" id="she{{schedule.id}}">{{schedule.fixture}}</div>
  </div>
</div>

<div class="schedule" *ngIf="time_selected"> 
    <div class="row" *ngFor="let r of rows">
      ряд {{r+1}}
      <div *ngFor="let s of columns" (click)="activate(hallId[r*9+s-1])" id="{{hallId[r*9+s-1]}}" class="hall">
        <a *ngIf="reserved[r*9+s-1]" class="reserved">
            {{s}}
        </a>
        <a *ngIf="!reserved[r*9+s-1]" (click)="t_click(hallId[r*9+s-1])">
            {{s}}
        </a>

      </div>
        
      <hr>  
    </div>
    <button (click)="buy()" class="button_buy">Купить</button>
  </div>