body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.message {
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    background-color: #1e415e;
}

.btn-outline-secondary{
    width: 97px;
    height: 38px;
    text-align: center;
}

.message div {
    padding: 18px 30px;
}

.padding-main {
    padding: 18px 30px;
}

.movie-info .country {
    padding: 20px 0 12px 0;
}

.genre dl {
    display: inline-block;
}

.txt-rounded {
    color: #fff;
    line-height: 28px;
    padding: 0 10px;
    display: inline-block;
    border: 1px solid #CCCCCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.genre dl dt {
    display: inline-block;
    margin-right: 9px;
}

.movie-info {
    height: 596px;
    width: 100%;
    color: #FEFEFE;
    background-size: cover;
    background: linear-gradient(135deg,rgba(0, 0, 0, .68),rgba(0, 0, 0, .68)), url("http://s.kino.kz/archive/Destroyer/p1192x597.jpg") no-repeat center;
}

.btn.white, .btn.black {
    color: #000000;
    display: inline-block;
    padding: 0 16px;
    font-size: 16px;
    line-height: 48px;
    background: rgba(255,255,255,0.80);
    border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 48px;
}

.btn.trailer {
    margin-right: 5px;
}

.btn.white:hover {
    background-color: #fff;
}

.expand-orange {
    border-radius: 5px;
    background: #F2823A;
    padding: 10px 35px;
    color: #fff;
    border: 0;
}

.expand-orange:hover {
    background: #fff;
    color: #F2823A;
}

.infoTable {
    font-size: 11px;
}

.infoTable tr {
    line-height: 24px;
}

.star-rate {
    height: 15px;
    display: inline-block;
    vertical-align: middle;
}

.star-rate-hint {
    margin-left: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #CCCCCC;
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-weight: bold;
    font-size: 9px;
    color: #000000;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.infoTable tr td:first-child {
    color: #999999;
}

.block-title {
    font-size: 29px;
}

.reviews {
    margin: 20px 0;
}

.revbtn .btn {
    display: inline-block;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    color: #000000;
    padding: 9px 10px;
    cursor: pointer;
}
.revbtn .btn:hover {
    border-color: #000000;
}

.staff-table {
    margin-bottom: 25px;
}

.staff-table th {
    font-size: 29px;
    font-weight: normal;
    padding-bottom: 10px;
}

.prefooter hr {
    position: relative;
    top: -18px;
}

.gray80 {
    background: #CCCCCC;
}

.left-block {
    width: 980px;
    height: 100%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.prefooter {
    padding-bottom: 60px;
    font-size: 13px;
}

.prefooter_header {
    margin-bottom: 15px;
}

.prefooter-col {
    float: left;
    margin-right: 100px;
}

.prefooter-col a {
    color: rgba(0, 0, 0, 0.6);
}

.footer, .footer a {
    color: #ffffff;
    font-size: 11px;
    background: #1E415E;
}
