<div class="film-archive-list">
    <ul *ngFor="let cinema of cinemas">
        <li>
            <div class="item">
                <div class="film-poster" style="width: 320px">
                    <a href="#">
                        <img src="{{cinema.poster}}" width="320" height="222" border=0>
                    </a>
                </div>
                <div class="film-description" style="width: 514px">
                    <dl>
                        <dt>
                            <span>
                                C 
                                <span>{{cinema.phone}}</span>
                            </span>
                        </dt>
                        <dt>
                            <a href="schedule/{{cinema.id}}">{{cinema.title}}</a>
                        </dt>
                        <dt>{{cinema.address}}</dt>
                        <dt>
                            <span>
                                {{cinema.description}}
                            </span>
                        </dt>
                    </dl>
                    
                </div>
            </div>
        </li>
    </ul>
    
</div>