<div class="film-archive-list">
        <ul *ngFor="let movie of movies">
            <li>
                <div class="item">
                    <div class="film-poster" style="width: 320px">
                        <a href="#">
                            <img src="{{movie.poster}}" width="320" height="222" border=0>
                        </a>
                    </div>
                    <div class="film-description" style="width: 514px">
                        <dl>
                            <dt>
                                <span>
                                    C 
                                    <span>{{movie.premiere}}</span>
                                </span>
                            </dt>
                            <dt>
                                <a href="movie/{{movie.id}}">{{movie.title}}</a>
                            </dt>
                            <dt>{{movie.genre}}</dt>
                            <dt>
                                <span>
                                    {{movie.description}}
                                </span>
                            </dt>
                        </dl>
                        <div class="prime-age">Возрастной рейтинг: с {{movie.age}} лет</div>
                    </div>
                </div>
            </li>
        </ul>
    
    </div>