<div class="film-archive-list">
    <ul>
        <li>
            <div class="item">
                <div class="film-poster" style="width: 320px">
                    <a href="#">
                        <img src="#" width="320" height="222" border=0>
                    </a>
                </div>
                <div class="film-description" style="width: 514px">
                    <dl>
                        <dt>
                            <span>
                                C 
                                <span>09-мая-2019</span>
                            </span>
                        </dt>
                        <dt>
                            <a href="#">Avengers</a>
                        </dt>
                        <dt>триллер, драмма, фантастика</dt>
                        <dt>
                            <span>
                                Индия. Мумбаи. Роскошный отель «Тадж-Махал Палас» — гарантия безопасности. И каждый гость здесь — бог. Но однажды мир красоты, роскоши и комфорта рушится… Три дня противостояния смерти, три дня борьбы за выживание…
                            </span>
                        </dt>
                    </dl>
                    <div class="prime-age">Возрастной рейтинг: с 18 лет</div>
                </div>
            </div>
        </li>
    </ul>

</div>