  <!-- Site footer -->
  <div class="site-footer">
      <div class="container">
        <div class="row">
          

          <div class="col-xs-6 col-md-3">
            <h3>Киноафиша Казахстана</h3>
            <ul class="footer-links">
              <li><a href="#">123</a></li>
              <li><a href="#">Про нас</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
         <a href="#">Scanfcode</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><img src="assets/img/facebook-logo.svg" class="facebook-img" style="width:20px;height:20px;"/></a></li>
              <li><a class="twitter" href="#"><img src="assets/img/twitter.svg" class="twitter-img" style="width:20px;height:20px;"/></a></li>  
            </ul>
          </div>
        </div>
      </div>
    </div>